<% include ./partials/header %>
<table class="ui definition table">
    <thead>
      <tr>
        <th>Gruene Hall Weekly Schedule</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>DATE</td>
            <!-- logic for looping dates -->
        </tr>
        <tr>
            <td>DAY</td>
            <% let weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]; %>
            <% for(let day=0; day<weekdays.length; day++){ %>
                <td><%= weekdays[day] %></td>
            <% } %>
            <!-- logic for looping days of the week -->
        </tr>
        <tr>
            <td>BAND</td>
            <!-- logic for looping bands -->
        </tr>
        <tr>
            <td>MANAGERS</td>
        </tr>
        <!-- logic for looping managers and times -->
        <tr>
            <td>BARTENDERS</td>
        </tr>
        <!-- logic for creating rows of times -->
            <!-- sub logic for looping over bartenders -->
        <tr>
            <td>BOTTLE GUYS</td>
        </tr>
        <!-- logic for creating rows of times -->
            <!-- sub logic for looping bottle guys -->
    </tbody>
</table>

<button class="ui primary button" onclick="window.location='/employees/new';">Add New Employee</button>
<% include ./partials/footer %>