<% include ./partials/header %>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Day</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Day">Band</td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
        <tr>
            <td data-label="Day"></td>
            <td data-label="Monday"></td>
            <td data-label="Tuesday"></td>
            <td data-label="Wednesday"></td>
            <td data-label="Thursday"></td>
            <td data-label="Friday"></td>
            <td data-label="Saturday"></td>
            <td data-label="Sunday"></td>
        </tr>
    </tbody>
  </table>



  
<% include ./partials/footer %>